<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="かぞみちゃん" data-text="" data-moreinfo="本社からのお知らせ:安全に気をつけよう！"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <img src="http://kazomichan.noip.me/kazomi.png" height="100%">
    </li>
    
    
    <% h = {:大橋　正晴 => 1, :高橋　厚雄 => 7} %>
    
    
    
<%  h.each do |key,value| %>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mychart<%= value %>"
       data-view="GoogleColumn"
       data-is_stacked="true"
       data-colors="88cb7f ,eb6ea5,edb842,0095d9"
       data-title="行動実績（担当者名：<%= key %> ）">
      </div>
    </li>

<%  end %>

  </ul>

</div>